<style>
  .inline {
    display: inline;
  }
  .change {
    display: inline;
    cursor: pointer;
    color: rgb(3, 3, 83);
  }
  .current {
    color: rgb(255, 26, 26);
  }
  .popup {
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    height: 60vh;
    aspect-ratio: 1;
    background-color: #574040;
    z-index: 100;
  }
  .wrap.active::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
  .hidden {
    display: none;
  }
  .active {
    display: block;
  }
</style>
<div class="popup hidden" id="unblurred">
  <div class="inside__form">.</div>
  <button class="popup__btn">wyjdz</button>
</div>
<div class="uResult">
  <div class="uImage">
    <%- include('../components/profilePicture', {profile_pic: guide.profile_pic}) %>
    <button class="change__ppic">Zmień zdjęcie</button>
  </div>

  <form method="POST">
    <div class="name__nickname inline">
      <span>Nazwa użytkownika</span>
      <input type="text" class="current" name="nickname" placeholder=<%=guide.nickname%>></input>
    </div>

    <br />
    <div class="name__fullname inline">
      <span>Imie i Nazwisko</span>
      <input type="text" class="current" name="fullname" placeholder="<%if(guide.desc){guide.desc}else{%>Imie i Nazwisko<%}%>"></input>
    </div>
    <br />

    <div class="uResult__desc inline">
      <span>Opis</span>
      <textarea class="current" name="desc" placeholder="<%if(guide.desc){guide.desc}else{%>Opis<%}%>"></textarea>
    </div>
    <br />
    <input type="submit" value="zatwierdź">
  </form>

  <button class="change__password popup__btn">Zmień hasło</button>
  <button class="change__county popup__btn">Dodaj/Usuń powiat</button>
  <button class="change__city popup__btn">Dodaj/Usuń miejscowość</button>
</div>

    <!-- <p class="uResult__regs inline"><% guide.regs.forEach(item =>{ %> <span class="regs__reg"> <%= item %></span> <% }) %></p>
  <p class="uResult__cities">
    <% guide.cities.forEach(item =>{ %> <span class="cities__city"> <%= item %></span> <% }) %>
  </p> -->

<script>
  // console.log(JSON.parse(test));
  let guide = JSON.parse(`<%- JSON.stringify(guide) %>`);
  delete guide.profile_pic;

  const togglePopup = () => {
    document.querySelector(".popup").classList.toggle("hidden");
    document.querySelector(".wrap").classList.toggle("active");
  };

  const renderForm = (type, guide) => {
    let content = "";
    console.log(type, guide);
    switch (type) {
      case "nickname":
        content = `
        <span>Nazwa Użytkownika:<span><input type="text" name="nickname" value="${guide.nickname}"</input>
        `;
        break;
      case "fullname":
        content = `
        <span>Nazwa Użytkownika:<span><input type="text" name="nickname" value="${guide.fullname}"</input>
          `;
        break;
      case "desc":
        content = `
        <span>Nazwa Użytkownika:<span><textarea name="nickname" value="${guide.fullname}"</textarea>
        `;
        break;
    }
    return content;
  };

  const popUpForm = (type) => {
    const inside = document.querySelector(".inside__form");
    // inside.innerHTML = `ss`;

    let form = `<form method="GET"> ${renderForm(
      type,
      guide
    )} <input type="submit" class="submit" value="Zmień"></form>`;
    // switch (obj.name) {
    //   case "nickname":
    //   case "fullname":
    //     form = `<form method="POST">
    //   <span>${obj.label}</span>
    //   <input type="text" name="${obj.name}" value='${obj.value}'>
    //   <input type="submit" value="zatwierdź"></form>`;
    //     break;
    //   case "desc":
    //     form = `<form method="POST">
    //   <span>${obj.label}</span>
    //   <textarea height="200px" name="${obj.name}" value='${obj.value}'></textarea>
    //   <input type="submit" value="zatwierdź"></form>`;
    //     break;

    //   case "password":
    //     form = `

    //     `;
    // }
    inside.innerHTML = form;
  };

  const formChange = document.querySelectorAll(".change");
  formChange.forEach((item) => {
    item.addEventListener("click", (e) => {
      const parent = e.target.parentElement;
      const datakey = e.target.dataset.key;
      // console.log(document.querySelector(`.current[data-key="${datakey}"]`));
      const value = document.querySelector(`.current[data-key="${datakey}"]`).textContent;
      // console.log(parent, datakey, value);
      // const obj = {
      //   name: datakey,
      //   value: value,
      //   label: parent.children[0].textContent,
      // };
      popUpForm(datakey);
      togglePopup();
    });
  });

  document.querySelectorAll(".popup__btn").forEach((item) => {
    item.addEventListener("click", () => {
      togglePopup();
    });
  });
  document.body.addEventListener("click", (e) => {
    if (e.target === document.querySelector(".wrap.active")) {
      togglePopup();
    }
  });

  // document.querySelector(".submit_btn").addEventListener("click", (e) => {
  //   e.preventDefault();
  // });

  // document.querySelector(".change__password").addEventListener("click", () => {
  //   let obj = {
  //     name: password,
  //     label: "Aktualne hasło",
  //   };
  //   popUpForm(obj);
  // });
</script>
