<div class="uResult">
  <%- include('../components/profilePicture', {profile_pic: guide.profile_pic}) %>
  <div class="uResult__data data">
    <p class="data__name name">
      <span class="name__nick"><%= guide.nickname %></span>
      <% if(guide.fullname) {%><span class="name__fullname"><%= guide.fullname %></span><%}%>
    </p>
    <p class="data__cities">
      <% guide.cities.forEach(item =>{ %>
      <span class="cities__city"
        >➲<a href="https://www.google.com/maps/place/<%= item %>/" target="_blank"><%= item %></a>&nbsp;</span
      >
      <% }) %>
    </p>
  </div>
  <div class="uResult__contact">
    <button class="btn btn--email btn--green" data-clipboard-action="copy" data-clipboard-text="<%=guide.email%>">
      <%=guide.email %>
    </button>
  </div>
  <% if(guide.desc){%>
  <div class="uResult__desc desc">
    <span class="fold"> <%= guide.desc %> </span>
    <% if((guide.desc).length > 70){ %>
    <button class="btn desc--unfold --mobile btn--green">rozwiń</button>
    <%} %>
  </div>
  <%}%>
</div>
