<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #353535;
      }
      .uResult {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <!--  -->
    <div class="errors">
      <% if(errors) {errors.forEach((err) =>{ %>
      <p><%=err.msg%></p>
      <%})}%>
    </div>
    <!--  -->
    <%guide.desc = String.raw`${guide.desc.replaceAll("\r\n", "<br />")}` %>
    <div class="wrap">
      <h1>PROFILE</h1>
      <%- include("../components/header"); %><!-- -->
      <div class="popup hidden" id="unblurred">
        <div class="inside__form">.</div>
        <button class="popup__btn">wyjdz</button>
      </div>
      <div class="uResult">
        <div class="uImage">
          <%- include('../components/profilePicture', {profile_pic: guide.profile_pic}) %>
          <button class="change" data-key="profile_pic">Zmień zdjęcie</button>
        </div>

        <div class="name__nickname inline">
          <span>Nazwa użytkownika</span>
          <span class="current" data-key="nickname"><%= guide.nickname %></span>
          <span class="change__nickname change" data-key="nickname">Zmień</span>
        </div>

        <br />
        <div class="name__fullname inline">
          <span>Imie i Nazwisko</span>
          <span class="current" data-key="fullname"
            ><% if(guide.fullname) { %><%=guide.fullname%><% }else{ %> <i>Imie Nazwisko</i><% } %></span
          >
          <span class="change__fullname change" data-key="fullname">Zmień</span>
        </div>

        <br />

        <div class="uResult__desc inline">
          <span>Opis</span>
          <span class="current" data-key="desc"
            ><% if(guide.desc){%><%-guide.desc%><% } else{ %><i>Opis</i><% } %></span
          >
          <span class="change__desc change" data-key="desc">Zmień</span>
        </div>
        <br />

        <button class="change" data-key="password">Zmień hasło</button>
        <button class="change" data-key="county">Dodaj/Usuń powiat</button>
        <button class="change" data-key="city">Dodaj/Usuń miejscowość</button>
      </div>
      <%- include("../components/renderProfile", {guide: guide}); %>
    </div>
  </body>
</html>
