<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <title>Profil</title>
    <style></style>
  </head>
  <body>
    <!--  -->
    <% if (errors) console.info("profileTemplate:", errors) %> <%- include("../components/header"); %><!-- -->

    <div class="measure-wd"></div>
    <div class="wrapper--profile wrapper">
      <div class="profile">
        <div class="profile__image">
          <%- include('../components/profilePicture', {profile_pic: guide.profile_pic}) %>
          <button class="change btn btn--green" data-key="profile_pic">Zmień zdjęcie</button>
        </div>

        <div class="profile__item profile__buttons">
          <button class="change btn btn--green" data-key="password">Zmień hasło</button>
          <button class="change btn btn--green" data-key="county">Zarządzaj powiatami</button>
          <button class="change btn btn--green" data-key="city">Zarządzaj miejscowościami</button>
        </div>

        <div class="profile__item profile__input_fields">
          <div class="name__nickname title-input title-input--wIcon">
            <span class="title-input--title">Nazwa użytkownika</span>
            <input
              type="text"
              class="input input--lb-title input--profile current"
              data-key="nickname"
              placeholder="<%= guide.nickname %>"
              disabled
            />
            <img
              class="change__nickname pencil_icon input_icon change"
              data-key="nickname"
              src="/img/pencil.svg"
              alt=""
            />
          </div>

          <div class="name__fullname title-input title-input--wIcon">
            <span class="title-input--title">Imię i Nazwisko</span>
            <input
              type="text"
              class="input input--lb-title input--profile current"
              data-key="fullname"
              placeholder="<% if(guide.fullname) { %><%=guide.fullname%><% }else{ %>- - -<% } %>"
              disabled
            />
            <img class="change_fullname input_icon change" data-key="fullname" src="/img/pencil.svg" alt="" />
          </div>

          <div class="profile__desc title-input title-input--wIcon">
            <span class="title-input--title">Opis</span>
            <textarea
              rows="7"
              type="text"
              class="input input--lb-title input--profile input--desc current"
              data-key="desc"
              disabled
            >
<% if(guide.desc){%><%=guide.desc%><%}else{%>- - -<%}%></textarea
            >
            <img class="change_desc pencil_icon input_icon change" data-key="desc" src="/img/pencil.svg" alt="" />
          </div>
        </div>
        <button class="btn btn--red btn--signin profile__logout"><a href="/guide/signout">wyloguj</a></button>
        <img class="profile__map" src="/img/profile_map.svg" alt="" />
      </div>
    </div>

    <div class="popup window window--signin" id="unblurred">
      <div class="inside__form"></div>
      <div class="buttons">
        <input type="submit" class="submit btn btn--green" value="Zatwierdź zmiany" form="profile_form" />
        <button class="popup__btn btn btn--red">anuluj</button>
      </div>
    </div>

    <!--  -->
    <% if(guide.desc) guide.desc = guide.desc.replaceAll("\r\n", "\\r\\n"); %>
    <!--  -->
    <%- include("../components/renderProfile", {guide: guide, errors: errors}); %>
    <script>
      const height = getAbsoluteHeight(".measure-wd") - getAbsoluteHeight("header") - 30;
      document.querySelector(".wrapper--profile").style.height = `${height}px`;
    </script>
  </body>
</html>
