<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <title>Document</title>
  </head>
  <body>
    <div class="measure-wd index--underAll"></div>
    <%- include("../components/loadingScreen"); %><!-- -->
    <%- include("../components/header"); %><!-- -->
    <div class="wrapper wrapper--search">
      <form method="POST" class="search-bar">
        <div id="cities_Searchbars" class="searchbars">
          <span></span>
          <div class="autocomplete_box">
            <input
              type="text"
              class="city_autocomplete city input input--underline"
              placeholder="miasto"
              name="city"
              autocomplete="off"
            />
            <span></span>
            <div class="cities_container ac_container"></div>
          </div>
        </div>

        <div id="counties_Searchbars" class="searchbars">
          <span></span>
          <div class="autocomplete_box">
            <input
              type="text"
              class="county_autocomplete county input input--underline"
              placeholder="powiat"
              name="county"
              autocomplete="off"
            />
            <span></span>
            <div class="counties_container ac_container"></div>
          </div>
        </div>

        <input type="submit" class="btn btn--search btn--green --desktop" value="szukaj" />
        <input type="submit" class="btn btn--search btn--white --mobile" value="szukaj" />

        <img src="./img/search_trail.svg" alt="trail decoration" class="trail" />
      </form>
      <% if(error) { %> <%- include('../components/renderError', {error: error}) %> <% }%>
      <div class="guides">
        <% for (let item of guides) { %> <%- include('../components/renderGuide', {guide: item}); %> <% } %>
      </div>
    </div>

    <footer></footer>
    <% if (typeof libs !== 'undefined') { %> <% for (let lib of libs) { %>
    <script src="/libs/<%= lib %>.js" type="text/javascript"></script>
    <% } } %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const countySearchbar = document.querySelectorAll(".county_autocomplete");
        const citySearchbar = document.querySelectorAll(".city_autocomplete");
        SearchbarsForeach(countySearchbar, "counties");
        SearchbarsForeach(citySearchbar, "cities");

        const emailButtons = document.querySelectorAll(".btn--email");
        let clipboard = new ClipboardJS(emailButtons);

        const unfoldButtons = document.querySelectorAll(".desc--unfold");
        unfoldButtons.forEach((button) => {
          button.addEventListener("click", (e) => {
            e.target.parentElement.firstElementChild.classList.remove("fold");
            e.target.style.display = "none";
          });
        });

        controlWrapperSize(".guides", 2);
      });
    </script>
  </body>
</html>
