<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- function to find form post errors  -->
    <% function getError(prop){ try{ const searchIndex = errors.findIndex((item) => item.param == prop);
    return(errors[searchIndex].msg); } catch(err){ return ""; } } %>
  </head>
  <body>
    <%- include("../components/header"); %><!-- -->
    <div class="measure-wd"></div>
    <div class="wrapper--signup signup">
      <form id="signup" class="signup--form" method="POST" enctype="multipart/form-data">
        <div class="form--step form--step--1">
          <h1 class="margin">Dane logowania</h1>
          <section>
            <div class="title-input">
              <span class="title-input--title error"><%= getError("email")%></span>
              <input
                type="text"
                placeholder="adres e-mail"
                class="email input input--lb-title"
                name="email"
                data-number="0"
                required
              />
            </div>
            <div class="title-input">
              <span class="title-input--title error"><%= getError("nickname")%></span>
              <input
                type="text"
                placeholder="nazwa użytkownika"
                class="nickname input input--lb-title"
                name="nickname"
                data-number="0"
                required
              />
            </div>
            <div class="title-input">
              <span class="title-input--title error"><%= getError("password")%></span>
              <div class="password_container">
                <input
                  type="password"
                  placeholder="hasło"
                  class="password input input--lb-title"
                  name="password"
                  data-number="0"
                  blockid="1"
                  required
                />
                <div class="passwordVis" blockid="1"></div>
              </div>
            </div>
            <div class="title-input">
              <span class="error title-input--title"><%= getError("passwordConfirmation")%></span>
              <div class="password_container">
                <input
                  type="password"
                  placeholder="powtórz hasło"
                  class="password input input--lb-title"
                  name="passwordConfirmation"
                  data-number="0"
                  blockid="2"
                  required
                />
                <div class="passwordVis" blockid="2"></div>
              </div>
            </div>
          </section>
          <span></span>
        </div>

        <div class="form--step form--step--2">
          <h1>Powiaty</h1>
          <div id="counties_Searchbars" class="searchbars">
            <p class="title-input--title error sb_start"><%= getError("county")%></p>
            <div class="autocomplete_box autocomplete_box--icon">
              <input
                type="text"
                class="county_autocomplete county input input--lb-title"
                placeholder="powiat"
                name="county"
                autocomplete="off"
                data-number="1"
              />
              <div class="item_delete prevent trash-icon">
                <svg viewBox="0 0 24 24" fill="none">
                  <path
                    class="trashcan-hood"
                    d="M9.25 3C9.25 2.80109 9.32902 2.61032 9.46967 2.46967C9.61032 2.32902 9.80109 2.25 10 2.25H14C14.1989 2.25 14.3897 2.32902 14.5303 2.46967C14.671 2.61032 14.75 2.80109 14.75 3V3.75H19C19.1989 3.75 19.3897 3.82902 19.5303 3.96967C19.671 4.11032 19.75 4.30109 19.75 4.5C19.75 4.69891 19.671 4.88968 19.5303 5.03033C19.3897 5.17098 19.1989 5.25 19 5.25H5C4.80109 5.25 4.61032 5.17098 4.46967 5.03033C4.32902 4.88968 4.25 4.69891 4.25 4.5C4.25 4.30109 4.32902 4.11032 4.46967 3.96967C4.61032 3.82902 4.80109 3.75 5 3.75H9.25V3Z"
                    fill="#3f825e"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.24009 7.945C6.25363 7.82266 6.31182 7.70961 6.40353 7.6275C6.49523 7.54539 6.614 7.49999 6.73709 7.5H17.2631C17.3862 7.49999 17.5049 7.54539 17.5967 7.6275C17.6884 7.70961 17.7465 7.82266 17.7601 7.945L17.9601 9.746C18.3211 12.993 18.3211 16.27 17.9601 19.517L17.9401 19.694C17.8761 20.2687 17.6226 20.8058 17.2195 21.2205C16.8165 21.6352 16.2868 21.9038 15.7141 21.984C13.2501 22.3289 10.7501 22.3289 8.28609 21.984C7.71321 21.904 7.1833 21.6355 6.78002 21.2208C6.37675 20.8061 6.12309 20.2689 6.05909 19.694L6.03909 19.517C5.67838 16.2703 5.67838 12.9937 6.03909 9.747L6.24009 7.945ZM10.7501 11.4C10.7501 11.2011 10.6711 11.0103 10.5304 10.8697C10.3898 10.729 10.199 10.65 10.0001 10.65C9.80118 10.65 9.61041 10.729 9.46976 10.8697C9.32911 11.0103 9.25009 11.2011 9.25009 11.4V18.4C9.25009 18.5989 9.32911 18.7897 9.46976 18.9303C9.61041 19.071 9.80118 19.15 10.0001 19.15C10.199 19.15 10.3898 19.071 10.5304 18.9303C10.6711 18.7897 10.7501 18.5989 10.7501 18.4V11.4ZM14.7501 11.4C14.7501 11.2011 14.6711 11.0103 14.5304 10.8697C14.3898 10.729 14.199 10.65 14.0001 10.65C13.8012 10.65 13.6104 10.729 13.4698 10.8697C13.3291 11.0103 13.2501 11.2011 13.2501 11.4V18.4C13.2501 18.5989 13.3291 18.7897 13.4698 18.9303C13.6104 19.071 13.8012 19.15 14.0001 19.15C14.199 19.15 14.3898 19.071 14.5304 18.9303C14.6711 18.7897 14.7501 18.5989 14.7501 18.4V11.4Z"
                    fill="#3f825e"
                  />
                </svg>
              </div>
              <div class="counties_container ac_container"></div>
            </div>
          </div>
          <button class="county_add btn btn--green">dodaj powiat</button>
        </div>

        <div class="form--step form--step--3">
          <h1>Miejscowości</h1>
          <div id="cities_Searchbars" class="searchbars">
            <p class="title-input--title error sb_start"><%= getError("city")%></p>
            <div class="autocomplete_box autocomplete_box--icon">
              <input
                type="text"
                class="city_autocomplete city input input--lb-title"
                placeholder="miejscowość"
                name="city"
                autocomplete="off"
                data-number="2"
              />
              <div class="item_delete prevent trash-icon">
                <svg viewBox="0 0 24 24" fill="none">
                  <path
                    class="trashcan-hood"
                    d="M9.25 3C9.25 2.80109 9.32902 2.61032 9.46967 2.46967C9.61032 2.32902 9.80109 2.25 10 2.25H14C14.1989 2.25 14.3897 2.32902 14.5303 2.46967C14.671 2.61032 14.75 2.80109 14.75 3V3.75H19C19.1989 3.75 19.3897 3.82902 19.5303 3.96967C19.671 4.11032 19.75 4.30109 19.75 4.5C19.75 4.69891 19.671 4.88968 19.5303 5.03033C19.3897 5.17098 19.1989 5.25 19 5.25H5C4.80109 5.25 4.61032 5.17098 4.46967 5.03033C4.32902 4.88968 4.25 4.69891 4.25 4.5C4.25 4.30109 4.32902 4.11032 4.46967 3.96967C4.61032 3.82902 4.80109 3.75 5 3.75H9.25V3Z"
                    fill="#3f825e"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M6.24009 7.945C6.25363 7.82266 6.31182 7.70961 6.40353 7.6275C6.49523 7.54539 6.614 7.49999 6.73709 7.5H17.2631C17.3862 7.49999 17.5049 7.54539 17.5967 7.6275C17.6884 7.70961 17.7465 7.82266 17.7601 7.945L17.9601 9.746C18.3211 12.993 18.3211 16.27 17.9601 19.517L17.9401 19.694C17.8761 20.2687 17.6226 20.8058 17.2195 21.2205C16.8165 21.6352 16.2868 21.9038 15.7141 21.984C13.2501 22.3289 10.7501 22.3289 8.28609 21.984C7.71321 21.904 7.1833 21.6355 6.78002 21.2208C6.37675 20.8061 6.12309 20.2689 6.05909 19.694L6.03909 19.517C5.67838 16.2703 5.67838 12.9937 6.03909 9.747L6.24009 7.945ZM10.7501 11.4C10.7501 11.2011 10.6711 11.0103 10.5304 10.8697C10.3898 10.729 10.199 10.65 10.0001 10.65C9.80118 10.65 9.61041 10.729 9.46976 10.8697C9.32911 11.0103 9.25009 11.2011 9.25009 11.4V18.4C9.25009 18.5989 9.32911 18.7897 9.46976 18.9303C9.61041 19.071 9.80118 19.15 10.0001 19.15C10.199 19.15 10.3898 19.071 10.5304 18.9303C10.6711 18.7897 10.7501 18.5989 10.7501 18.4V11.4ZM14.7501 11.4C14.7501 11.2011 14.6711 11.0103 14.5304 10.8697C14.3898 10.729 14.199 10.65 14.0001 10.65C13.8012 10.65 13.6104 10.729 13.4698 10.8697C13.3291 11.0103 13.2501 11.2011 13.2501 11.4V18.4C13.2501 18.5989 13.3291 18.7897 13.4698 18.9303C13.6104 19.071 13.8012 19.15 14.0001 19.15C14.199 19.15 14.3898 19.071 14.5304 18.9303C14.6711 18.7897 14.7501 18.5989 14.7501 18.4V11.4Z"
                    fill="#3f825e"
                  />
                </svg>
              </div>
              <div class="cities_container ac_container"></div>
            </div>
          </div>
          <button class="city_add btn btn--green">dodaj miasto</button>
        </div>
      </form>

      <div class="signup--extras">
        <div class="logo logo--desktop">
          <svg viewBox="0 0 178 88" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18.8316 19.3381H8.12493C7.67071 19.3381 7.31382 19.4678 7.05426 19.7274C6.79471 19.9869 6.66493 20.3438 6.66493 20.7981V31.9914C6.66493 32.4456 6.79471 32.8025 7.05426 33.0621C7.31382 33.3216 7.67071 33.4514 8.12493 33.4514H17.5176C18.6207 33.4514 19.6427 33.3378 20.5836 33.1107C21.5569 32.8512 22.3843 32.4456 23.0656 31.8941C23.7794 31.3101 24.3309 30.5801 24.7203 29.7041C25.142 28.8281 25.3529 27.7574 25.3529 26.4921C25.3529 25.5512 25.1907 24.6589 24.8663 23.8154C24.5743 22.9394 24.1363 22.1769 23.5523 21.5281C23.0007 20.8467 22.3194 20.3114 21.5083 19.9221C20.7296 19.5327 19.8374 19.3381 18.8316 19.3381ZM8.12493 16.7587H18.4423C18.9614 16.7587 19.5454 16.6289 20.1943 16.3694C20.8432 16.1098 21.346 15.8016 21.7029 15.4447C23.0656 14.1794 23.7469 12.6221 23.7469 10.7727C23.7469 9.60472 23.536 8.63139 23.1143 7.85272C22.7249 7.04161 22.1896 6.39272 21.5083 5.90606C20.8594 5.41939 20.0969 5.07872 19.2209 4.88405C18.3449 4.65694 17.4203 4.54339 16.4469 4.54339H8.12493C7.67071 4.54339 7.31382 4.67317 7.05426 4.93272C6.79471 5.19228 6.66493 5.54917 6.66493 6.00339V15.2987C6.66493 15.7529 6.79471 16.1098 7.05426 16.3694C7.31382 16.6289 7.67071 16.7587 8.12493 16.7587ZM27.9323 26.8327C27.9323 28.3901 27.6403 29.7365 27.0563 30.8721C26.4723 32.0076 25.6774 32.9647 24.6716 33.7434C23.6983 34.4896 22.5627 35.0574 21.2649 35.4467C19.9672 35.8036 18.6045 35.9821 17.1769 35.9821H5.59426C5.14004 35.9821 4.78315 35.8523 4.5236 35.5927C4.26404 35.3332 4.13426 34.9763 4.13426 34.5221V5.80872C4.13426 5.0625 3.76115 4.57583 3.01493 4.34872L1.4576 4.00806C0.873598 3.84583 0.581598 3.4565 0.581598 2.84005C0.581598 2.22361 0.88982 1.91539 1.50626 1.91539H16.4469C18.2314 1.91539 19.8698 2.23983 21.3623 2.88872C22.8872 3.53761 24.1038 4.65695 25.0123 6.24672C25.3692 6.83072 25.6612 7.52828 25.8883 8.33939C26.1154 9.11806 26.2289 9.84806 26.2289 10.5294C26.2289 11.8596 26.0018 13.1087 25.5476 14.2767C25.0934 15.4447 24.3634 16.4343 23.3576 17.2454L23.1143 17.4401C22.8872 17.6023 22.8872 17.7483 23.1143 17.8781L23.4063 18.0727C24.8663 18.9812 25.9856 20.2465 26.7643 21.8687C27.5429 23.4585 27.9323 25.1132 27.9323 26.8327ZM54.7263 35.0574C54.7263 35.6738 54.4343 35.9821 53.8503 35.9821H50.3463C49.6974 35.9821 49.2432 35.6901 48.9836 35.1061L48.497 33.8894C48.3672 33.7272 48.2374 33.7109 48.1076 33.8407L47.8643 34.0841C46.1123 35.6738 44.0683 36.4687 41.7323 36.4687C40.3696 36.4687 39.1043 36.2092 37.9363 35.6901C36.8007 35.1385 35.795 34.4085 34.919 33.5001C34.0754 32.5916 33.4103 31.5372 32.9236 30.3367C32.437 29.1363 32.1936 27.8547 32.1936 26.4921V15.1527C32.1936 14.3092 32.6154 13.8874 33.459 13.8874C34.3025 13.8874 34.7243 14.3092 34.7243 15.1527V26.4921C34.7243 27.4654 34.9028 28.4063 35.2596 29.3147C35.6165 30.1907 36.1032 30.9694 36.7196 31.6507C37.3685 32.3321 38.1148 32.8836 38.9583 33.3054C39.8019 33.6947 40.7265 33.8894 41.7323 33.8894C42.7381 33.8894 43.6627 33.6947 44.5063 33.3054C45.3499 32.8836 46.0799 32.3321 46.6963 31.6507C47.3128 30.9694 47.7994 30.1907 48.1563 29.3147C48.5132 28.4063 48.6916 27.4654 48.6916 26.4921V15.1527C48.6916 14.3092 49.1134 13.8874 49.957 13.8874C50.8005 13.8874 51.2223 14.3092 51.2223 15.1527V32.1861C51.2223 32.8998 51.5954 33.3703 52.3416 33.5974L53.8503 33.9867C54.4343 34.0841 54.7263 34.4409 54.7263 35.0574ZM76.3351 24.9347C76.3351 23.7992 76.1242 22.7123 75.7024 21.6741C75.3131 20.6034 74.7453 19.6787 73.9991 18.9001C73.2853 18.0889 72.4255 17.4401 71.4197 16.9534C70.414 16.4667 69.3271 16.2234 68.1591 16.2234C66.9911 16.2234 65.9042 16.4667 64.8984 16.9534C63.9251 17.4401 63.0653 18.0889 62.3191 18.9001C61.6053 19.6787 61.0375 20.6034 60.6157 21.6741C60.194 22.7123 59.9831 23.7992 59.9831 24.9347C59.9831 26.0703 60.194 27.1572 60.6157 28.1954C61.0375 29.2336 61.6053 30.1583 62.3191 30.9694C63.0653 31.7805 63.9251 32.4294 64.8984 32.9161C65.9042 33.3703 66.9911 33.5974 68.1591 33.5974C69.3271 33.5974 70.414 33.3703 71.4197 32.9161C72.4255 32.4294 73.2853 31.7805 73.9991 30.9694C74.7453 30.1583 75.3131 29.2336 75.7024 28.1954C76.1242 27.1572 76.3351 26.0703 76.3351 24.9347ZM83.2944 1.47739C83.2944 2.12628 83.0024 2.49939 82.4184 2.59672L80.9097 2.98606C80.1635 3.14828 79.7904 3.61872 79.7904 4.39739V35.1061C79.7904 35.6901 79.4984 35.9821 78.9144 35.9821C78.298 35.9821 77.9411 35.6901 77.8437 35.1061L77.1137 31.9427C77.0813 31.7805 77.0164 31.6994 76.9191 31.6994C76.8542 31.6669 76.7893 31.7156 76.7244 31.8454L76.3837 32.2834C75.3455 33.5487 74.1288 34.5383 72.7337 35.2521C71.3386 35.9658 69.8137 36.3227 68.1591 36.3227C66.6342 36.3227 65.2066 36.0145 63.8764 35.3981C62.5786 34.7816 61.4431 33.9543 60.4697 32.9161C59.5288 31.8778 58.7826 30.6774 58.2311 29.3147C57.712 27.9196 57.4524 26.4596 57.4524 24.9347C57.4524 23.4098 57.7282 21.9661 58.2797 20.6034C58.8313 19.2083 59.5775 17.9916 60.5184 16.9534C61.4917 15.8827 62.6273 15.0392 63.9251 14.4227C65.2228 13.8063 66.6342 13.4981 68.1591 13.4981C69.8137 13.4981 71.3386 13.8549 72.7337 14.5687C74.1288 15.2825 75.3455 16.2883 76.3837 17.5861L76.8217 18.1214C76.9515 18.2836 77.0488 18.3647 77.1137 18.3647C77.2111 18.3323 77.2597 18.2025 77.2597 17.9754V2.06139C77.2597 1.60717 77.3895 1.25028 77.6491 0.990722C77.9086 0.731166 78.2655 0.601388 78.7197 0.601388H82.4184C83.0024 0.601388 83.2944 0.893388 83.2944 1.47739ZM104.518 24.9347C104.518 23.7992 104.307 22.7123 103.885 21.6741C103.496 20.6034 102.928 19.6787 102.182 18.9001C101.468 18.0889 100.608 17.4401 99.6027 16.9534C98.5969 16.4667 97.51 16.2234 96.342 16.2234C95.174 16.2234 94.0871 16.4667 93.0813 16.9534C92.108 17.4401 91.2482 18.0889 90.502 18.9001C89.7882 19.6787 89.2204 20.6034 88.7987 21.6741C88.3769 22.7123 88.166 23.7992 88.166 24.9347C88.166 26.0703 88.3769 27.1572 88.7987 28.1954C89.2204 29.2336 89.7882 30.1583 90.502 30.9694C91.2482 31.7805 92.108 32.4294 93.0813 32.9161C94.0871 33.3703 95.174 33.5974 96.342 33.5974C97.51 33.5974 98.5969 33.3703 99.6027 32.9161C100.608 32.4294 101.468 31.7805 102.182 30.9694C102.928 30.1583 103.496 29.2336 103.885 28.1954C104.307 27.1572 104.518 26.0703 104.518 24.9347ZM111.477 1.47739C111.477 2.12628 111.185 2.49939 110.601 2.59672L109.093 2.98606C108.346 3.14828 107.973 3.61872 107.973 4.39739V35.1061C107.973 35.6901 107.681 35.9821 107.097 35.9821C106.481 35.9821 106.124 35.6901 106.027 35.1061L105.297 31.9427C105.264 31.7805 105.199 31.6994 105.102 31.6994C105.037 31.6669 104.972 31.7156 104.907 31.8454L104.567 32.2834C103.528 33.5487 102.312 34.5383 100.917 35.2521C99.5216 35.9658 97.9967 36.3227 96.342 36.3227C94.8171 36.3227 93.3896 36.0145 92.0593 35.3981C90.7616 34.7816 89.626 33.9543 88.6527 32.9161C87.7118 31.8778 86.9656 30.6774 86.414 29.3147C85.8949 27.9196 85.6353 26.4596 85.6353 24.9347C85.6353 23.4098 85.9111 21.9661 86.4627 20.6034C87.0142 19.2083 87.7604 17.9916 88.7013 16.9534C89.6747 15.8827 90.8102 15.0392 92.108 14.4227C93.4058 13.8063 94.8171 13.4981 96.342 13.4981C97.9967 13.4981 99.5216 13.8549 100.917 14.5687C102.312 15.2825 103.528 16.2883 104.567 17.5861L105.005 18.1214C105.134 18.2836 105.232 18.3647 105.297 18.3647C105.394 18.3323 105.443 18.2025 105.443 17.9754V2.06139C105.443 1.60717 105.572 1.25028 105.832 0.990722C106.092 0.731166 106.448 0.601388 106.903 0.601388H110.601C111.185 0.601388 111.477 0.893388 111.477 1.47739ZM134.891 15.9801L133.188 16.4181C132.701 16.5154 132.377 16.8236 132.214 17.3427L124.184 39.7294C123.373 41.9681 122.14 43.8823 120.486 45.4721C118.831 47.0943 116.852 48.0676 114.548 48.3921C114.191 48.4569 113.883 48.3596 113.624 48.1001C113.397 47.8729 113.283 47.5809 113.283 47.2241C113.283 46.8347 113.397 46.5103 113.624 46.2507C113.883 45.9912 114.191 45.8289 114.548 45.7641C115.911 45.5045 117.095 44.9529 118.101 44.1094C119.139 43.3307 119.934 42.4223 120.486 41.3841C121.07 40.3458 121.573 39.2752 121.994 38.1721C122.124 37.8476 122.124 37.5069 121.994 37.1501L114.208 15.2014C113.948 14.3578 114.256 13.9361 115.132 13.9361H115.424C116.106 13.9361 116.56 14.2605 116.787 14.9094L122.189 29.9474C122.611 31.1154 123.065 31.6994 123.552 31.6994C124.038 31.6994 124.493 31.1154 124.914 29.9474L130.365 14.9094C130.592 14.2605 131.046 13.9361 131.728 13.9361H134.891C135.475 13.9361 135.767 14.2281 135.767 14.8121C135.767 15.4285 135.475 15.8178 134.891 15.9801ZM24.1849 43.5434H8.07626C7.62204 43.5434 7.26515 43.6732 7.0056 43.9327C6.74604 44.1923 6.61626 44.5492 6.61626 45.0034V55.2234C6.61626 55.6776 6.74604 56.0345 7.0056 56.2941C7.26515 56.5536 7.62204 56.6834 8.07626 56.6834H20.6809C21.5245 56.6834 21.9463 57.1052 21.9463 57.9487C21.9463 58.7923 21.5245 59.2141 20.6809 59.2141H8.07626C7.62204 59.2141 7.26515 59.3438 7.0056 59.6034C6.74604 59.8629 6.61626 60.2198 6.61626 60.6741V70.9914C6.61626 71.4456 6.74604 71.8025 7.0056 72.0621C7.26515 72.3216 7.62204 72.4514 8.07626 72.4514H24.2336C25.0772 72.4514 25.4989 72.8732 25.4989 73.7167C25.4989 74.5603 25.0772 74.9821 24.2336 74.9821H5.5456C5.09138 74.9821 4.73449 74.8523 4.47493 74.5927C4.21538 74.3332 4.0856 73.9763 4.0856 73.5221V44.8087C4.0856 44.0625 3.71249 43.5758 2.96626 43.3487L1.40893 43.0081C0.824931 42.8458 0.532931 42.4565 0.532931 41.8401C0.532931 41.2236 0.841154 40.9154 1.4576 40.9154H24.1849C24.5743 40.9154 24.8825 41.0452 25.1096 41.3047C25.3692 41.5318 25.4989 41.8401 25.4989 42.2294C25.4989 42.6187 25.3692 42.9432 25.1096 43.2027C24.8825 43.4298 24.5743 43.5434 24.1849 43.5434ZM47.6689 54.2014L41.5369 63.1561C41.1475 63.7076 41.1475 64.2592 41.5369 64.8107L47.6689 73.7167C47.9284 74.0736 47.9933 74.3818 47.8635 74.6414C47.7338 74.8685 47.4418 74.9821 46.9875 74.9821H46.2089C45.6573 74.9821 45.2518 74.7712 44.9922 74.3494L40.6122 67.9741C40.2553 67.4225 39.8498 67.1467 39.3955 67.1467C38.9413 67.1467 38.5358 67.4225 38.1789 67.9741L33.7502 74.3494C33.4907 74.7712 33.0851 74.9821 32.5335 74.9821H31.8035C31.3493 74.9821 31.0573 74.8685 30.9275 74.6414C30.7978 74.4143 30.8627 74.1061 31.1222 73.7167L37.2542 64.8107C37.6435 64.2592 37.6435 63.7076 37.2542 63.1561L32.3389 56.0507C32.1767 55.7587 31.9009 55.5641 31.5115 55.4667L29.6135 54.9801C29.0295 54.8178 28.7375 54.4285 28.7375 53.8121C28.7375 53.2281 29.0458 52.9361 29.6622 52.9361H32.5335C33.0851 52.9361 33.4907 53.1469 33.7502 53.5687L38.1789 59.9441C38.5358 60.4956 38.9413 60.7714 39.3955 60.7714C39.8498 60.7714 40.2553 60.4956 40.6122 59.9441L44.9922 53.5687C45.2518 53.1469 45.6573 52.9361 46.2089 52.9361H46.9875C47.4418 52.9361 47.7338 53.0658 47.8635 53.3254C47.9933 53.5525 47.9284 53.8445 47.6689 54.2014ZM74.9382 63.8861C74.9382 62.7505 74.7273 61.6636 74.3055 60.6254C73.9162 59.5547 73.3484 58.6301 72.6022 57.8514C71.8884 57.0403 71.0286 56.4076 70.0228 55.9534C69.0171 55.4667 67.9302 55.2234 66.7622 55.2234C65.5942 55.2234 64.5073 55.4667 63.5015 55.9534C62.4957 56.4076 61.6197 57.0403 60.8735 57.8514C60.1597 58.6301 59.592 59.5385 59.1702 60.5767C58.7808 61.6149 58.5862 62.7181 58.5862 63.8861C58.5862 65.0541 58.7808 66.1572 59.1702 67.1954C59.592 68.2336 60.1597 69.1583 60.8735 69.9694C61.6197 70.7805 62.4795 71.4294 63.4528 71.9161C64.4586 72.3703 65.5617 72.5974 66.7622 72.5974C67.9626 72.5974 69.0495 72.3541 70.0228 71.8674C71.0286 71.3807 71.8884 70.7481 72.6022 69.9694C73.3484 69.1583 73.9162 68.2336 74.3055 67.1954C74.7273 66.1247 74.9382 65.0216 74.9382 63.8861ZM77.4688 63.8861C77.4688 65.4109 77.1931 66.8709 76.6415 68.2661C76.1224 69.6287 75.3762 70.8454 74.4028 71.9161C73.462 72.9543 72.3264 73.7816 70.9962 74.3981C69.6984 75.0145 68.2871 75.3227 66.7622 75.3227C65.1075 75.3227 63.5826 74.9658 62.1875 74.2521C60.7924 73.5383 59.5757 72.5487 58.5375 71.2834L58.0995 70.6994C57.8075 70.3425 57.6615 70.4074 57.6615 70.8941V86.2241C57.6615 87.0676 57.2397 87.4894 56.3962 87.4894C55.5526 87.4894 55.1308 87.0676 55.1308 86.2241V56.6834C55.1308 55.9696 54.774 55.4992 54.0602 55.2721L52.4055 54.8341C51.854 54.7367 51.5782 54.3798 51.5782 53.7634C51.5782 53.2118 51.8702 52.9361 52.4542 52.9361H55.7635C56.1204 52.9361 56.4286 53.0496 56.6882 53.2767C56.9477 53.4714 57.11 53.7472 57.1748 54.1041L57.8075 56.8781C57.84 57.0403 57.8886 57.1376 57.9535 57.1701C58.0508 57.1701 58.1482 57.0889 58.2455 56.9267L58.5375 56.5374C59.5757 55.2721 60.7924 54.2825 62.1875 53.5687C63.5826 52.8549 65.1075 52.4981 66.7622 52.4981C68.2871 52.4981 69.6984 52.8063 70.9962 53.4227C72.294 54.0392 73.4133 54.8665 74.3542 55.9047C75.3275 56.9429 76.09 58.1596 76.6415 59.5547C77.1931 60.9174 77.4688 62.3612 77.4688 63.8861ZM86.4669 41.0614V73.7167C86.4669 74.5603 86.0451 74.9821 85.2015 74.9821C84.358 74.9821 83.9362 74.5603 83.9362 73.7167V43.3974C83.9362 43.0405 83.8389 42.7323 83.6442 42.4727C83.4495 42.2132 83.1737 42.0509 82.8169 41.9861L81.2595 41.5967C80.6755 41.4994 80.3835 41.1263 80.3835 40.4774C80.3835 39.8934 80.6917 39.6014 81.3082 39.6014H85.0069C85.4611 39.6014 85.818 39.7312 86.0775 39.9907C86.3371 40.2503 86.4669 40.6072 86.4669 41.0614ZM110.802 63.9834C110.802 62.8154 110.591 61.6961 110.169 60.6254C109.747 59.5223 109.163 58.5652 108.417 57.7541C107.671 56.9105 106.779 56.2454 105.74 55.7587C104.735 55.2721 103.631 55.0287 102.431 55.0287C101.231 55.0287 100.111 55.2883 99.073 55.8074C98.0673 56.2941 97.1913 56.9592 96.445 57.8027C95.7313 58.6138 95.1635 59.5547 94.7417 60.6254C94.3199 61.6961 94.109 62.8154 94.109 63.9834C94.109 65.1514 94.3199 66.2707 94.7417 67.3414C95.1635 68.4121 95.7313 69.3692 96.445 70.2127C97.1913 71.0238 98.0673 71.6727 99.073 72.1594C100.111 72.6461 101.231 72.8894 102.431 72.8894C103.664 72.8894 104.783 72.6461 105.789 72.1594C106.827 71.6727 107.703 71.0238 108.417 70.2127C109.163 69.4016 109.747 68.4607 110.169 67.3901C110.591 66.2869 110.802 65.1514 110.802 63.9834ZM113.332 63.9834C113.332 65.5407 113.057 67.0169 112.505 68.4121C111.953 69.7747 111.191 70.9914 110.218 72.0621C109.244 73.1003 108.093 73.9276 106.762 74.5441C105.432 75.1605 103.988 75.4687 102.431 75.4687C100.906 75.4687 99.4786 75.1605 98.1484 74.5441C96.8182 73.9276 95.6664 73.1003 94.693 72.0621C93.7197 70.9914 92.9573 69.7585 92.4057 68.3634C91.8542 66.9683 91.5784 65.5083 91.5784 63.9834C91.5784 62.4585 91.8542 60.9985 92.4057 59.6034C92.9573 58.2083 93.7197 56.9916 94.693 55.9534C95.6664 54.8827 96.8182 54.0392 98.1484 53.4227C99.4786 52.8063 100.906 52.4981 102.431 52.4981C103.988 52.4981 105.432 52.8063 106.762 53.4227C108.093 54.0392 109.244 54.8827 110.218 55.9534C111.191 56.9916 111.953 58.2083 112.505 59.6034C113.057 60.9661 113.332 62.4261 113.332 63.9834ZM133.411 55.4667L133.265 55.6127C132.746 56.1318 132.13 56.2292 131.416 55.9047C130.41 55.4505 129.372 55.2234 128.301 55.2234C126.971 55.2234 125.754 55.5154 124.651 56.0994C123.548 56.6834 122.623 57.4945 121.877 58.5327C121.683 58.7274 121.585 59.0032 121.585 59.3601L121.537 73.7167C121.537 74.5603 121.115 74.9821 120.271 74.9821C119.428 74.9821 119.006 74.5603 119.006 73.7167V56.5374C119.006 55.7912 118.633 55.3045 117.887 55.0774L116.232 54.6881C115.713 54.5907 115.453 54.2663 115.453 53.7147C115.453 53.1956 115.713 52.9361 116.232 52.9361H120.028C120.612 52.9361 121.034 53.1956 121.293 53.7147L121.683 54.4447C121.78 54.6069 121.91 54.6394 122.072 54.5421L122.315 54.3961C124.132 53.1307 126.127 52.4981 128.301 52.4981C129.177 52.4981 130.021 52.6116 130.832 52.8387C131.675 53.0658 132.47 53.3903 133.217 53.8121C133.573 54.0067 133.752 54.2663 133.752 54.5907C133.784 54.9152 133.671 55.2072 133.411 55.4667ZM139.095 61.5501V61.7934C139.095 61.9556 139.176 62.0367 139.338 62.0367H151.067C151.229 62.0367 151.31 61.9556 151.31 61.7934V61.5501C151.31 60.6741 151.148 59.8629 150.824 59.1167C150.532 58.3381 150.11 57.6567 149.558 57.0727C149.039 56.4887 148.406 56.0345 147.66 55.7101C146.914 55.3856 146.103 55.2234 145.227 55.2234C144.351 55.2234 143.54 55.3856 142.794 55.7101C142.047 56.0345 141.398 56.4887 140.847 57.0727C140.295 57.6567 139.857 58.3381 139.533 59.1167C139.241 59.8629 139.095 60.6741 139.095 61.5501ZM138.608 66.5627C138.608 67.0818 138.673 67.6172 138.803 68.1687C138.965 68.7203 139.16 69.2232 139.387 69.6774C140.003 70.8778 140.831 71.7052 141.869 72.1594C142.94 72.5812 144.075 72.7921 145.276 72.7921C146.281 72.7921 147.287 72.6461 148.293 72.3541C149.331 72.0296 150.272 71.5754 151.116 70.9914C151.797 70.5372 152.446 70.5858 153.062 71.1374C153.322 71.3969 153.435 71.6889 153.403 72.0134C153.403 72.3378 153.257 72.6298 152.965 72.8894C151.862 73.6681 150.629 74.2683 149.266 74.6901C147.904 75.1118 146.573 75.3227 145.276 75.3227C142.518 75.3227 140.295 74.5765 138.608 73.0841C136.921 71.5916 136.078 69.4178 136.078 66.5627V63.9347C136.078 62.9289 136.142 61.9232 136.272 60.9174C136.402 59.8792 136.662 58.9221 137.051 58.0461C137.57 56.8781 138.235 55.8561 139.046 54.9801C139.857 54.0716 140.863 53.4389 142.064 53.0821C142.615 52.9198 143.134 52.7901 143.621 52.6927C144.14 52.5629 144.675 52.4981 145.227 52.4981C146.882 52.4981 148.26 52.7738 149.364 53.3254C150.499 53.8769 151.408 54.6232 152.089 55.5641C152.803 56.5049 153.322 57.6243 153.646 58.9221C154.003 60.2198 154.214 61.6149 154.279 63.1074C154.311 63.5616 154.198 63.9185 153.938 64.1781C153.679 64.4376 153.322 64.5674 152.868 64.5674H139.582C138.933 64.5674 138.608 64.8918 138.608 65.5407V66.5627ZM175.092 55.4667L174.946 55.6127C174.426 56.1318 173.81 56.2292 173.096 55.9047C172.09 55.4505 171.052 55.2234 169.982 55.2234C168.651 55.2234 167.435 55.5154 166.332 56.0994C165.228 56.6834 164.304 57.4945 163.558 58.5327C163.363 58.7274 163.266 59.0032 163.266 59.3601L163.217 73.7167C163.217 74.5603 162.795 74.9821 161.952 74.9821C161.108 74.9821 160.686 74.5603 160.686 73.7167V56.5374C160.686 55.7912 160.313 55.3045 159.567 55.0774L157.912 54.6881C157.393 54.5907 157.134 54.2663 157.134 53.7147C157.134 53.1956 157.393 52.9361 157.912 52.9361H161.708C162.292 52.9361 162.714 53.1956 162.974 53.7147L163.363 54.4447C163.46 54.6069 163.59 54.6394 163.752 54.5421L163.996 54.3961C165.812 53.1307 167.808 52.4981 169.982 52.4981C170.858 52.4981 171.701 52.6116 172.512 52.8387C173.356 53.0658 174.151 53.3903 174.897 53.8121C175.254 54.0067 175.432 54.2663 175.432 54.5907C175.465 54.9152 175.351 55.2072 175.092 55.4667Z"
              fill="white"
            />
            <path
              d="M148.75 16.0103V32.5215L155.597 29.7276L163.708 33.5902L170.38 30.8645V14.3546L172.141 13.6361C172.244 13.5941 172.356 13.5771 172.468 13.5866C172.579 13.5961 172.686 13.6318 172.78 13.6905C172.873 13.7492 172.95 13.8291 173.003 13.923C173.056 14.0169 173.084 14.1218 173.083 14.2284V32.564L163.62 36.4266L155.509 32.564L146.989 36.0416C146.886 36.0836 146.774 36.1006 146.662 36.0911C146.551 36.0816 146.443 36.0459 146.35 35.9872C146.257 35.9285 146.18 35.8486 146.127 35.7547C146.074 35.6609 146.046 35.5559 146.046 35.4493V17.1137L148.75 16.0103ZM165.301 22.5767L159.565 28.0384L153.829 22.5767C152.695 21.4963 151.922 20.1198 151.61 18.6213C151.297 17.1228 151.457 15.5696 152.071 14.1581C152.685 12.7466 153.725 11.5401 155.059 10.6914C156.393 9.84256 157.961 9.38953 159.565 9.38953C161.169 9.38953 162.737 9.84256 164.071 10.6914C165.405 11.5401 166.445 12.7466 167.058 14.1581C167.672 15.5696 167.833 17.1228 167.52 18.6213C167.207 20.1198 166.435 21.4963 165.301 22.5767ZM159.565 24.3972L163.388 20.7548C164.144 20.0347 164.66 19.117 164.868 18.1179C165.077 17.1189 164.97 16.0833 164.561 15.1421C164.152 14.201 163.459 13.3966 162.569 12.8306C161.68 12.2646 160.634 11.9625 159.565 11.9625C158.495 11.9625 157.45 12.2646 156.561 12.8306C155.671 13.3966 154.978 14.201 154.569 15.1421C154.16 16.0833 154.053 17.1189 154.262 18.1179C154.47 19.117 154.985 20.0347 155.742 20.7548L159.565 24.3972Z"
              fill="white"
            />
          </svg>
        </div>

        <button class="btn btn--green btn--signin" type="submit" form="signup">zarejestruj</button>
        <div class="tracker-container">
          <svg class="tracker" viewBox="0 0 310 97" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              class="tracker--path"
              d="M12.8508 64.4486C60.1646 4.57616 79.1485 11.0015 96.9642 22.976C114.78 34.9504 86.1567 83.4241 129.383 81.6801C176.813 79.7666 150.361 -3.69379 191.3 4.57617C243.47 15.115 217.585 93.3625 255.553 93.3625C293.521 93.3625 292.839 59.1915 293.521 56.2709"
              stroke="#3F825E"
              stroke-width="7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-dasharray="14.02 14.02"
            />
            <g class="tracker--group tracker--group--1">
              <circle
                class="tracker--circle tracker--circle--1 active empty"
                data-number="0"
                cx="16"
                cy="55"
                r="14.5"
                fill="#E85F5F"
                stroke="black"
              ></circle>
              <text x="14" y="60" font-family="Arial" font-size="16" fill="black">I</text>
            </g>

            <g class="tracker--group tracker--group--2">
              <circle
                class="tracker--circle tracker--circle--2 empty"
                data-number="1"
                cx="151"
                cy="70.5"
                r="14.5"
                fill="#54DC93"
                stroke="black"
              ></circle>
              <text x="146.5" y="75.5" font-family="Arial" font-size="16" fill="black">II</text>
            </g>

            <g class="tracker--group tracker--group--3">
              <circle
                class="tracker--circle tracker--circle--3 empty"
                data-number="2"
                cx="294"
                cy="59"
                r="14.5"
                fill="#FFF8E0"
                stroke="black"
              />
              <text x="287.5" y="65" font-family="Arial" font-size="16" fill="black">III</text>
            </g>
          </svg>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <% if (typeof libs !== 'undefined') { %> <% for (let lib of libs) { %>
    <script src="/libs/<%= lib %>.js" type="text/javascript"></script>
    <% } %> <% } %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const inputs = [
          document.querySelectorAll(".form--step--1 input"),
          document.querySelectorAll(".form--step--2 input"),
          document.querySelectorAll(".form--step--3 input"),
        ];

        //county Searchbars service
        removeItemListener();
        document.querySelectorAll(".prevent").forEach((item) => {
          item.addEventListener("click", (e) => e.preventDefault());
        });
        addCountyListener(inputs[1], ".form--step--2 input");
        addCityListener(inputs[2], ".form--step--3 input");

        let countiesSearchbars = document.querySelectorAll(".county_autocomplete");
        let citiesSearchbars = document.querySelectorAll(".city_autocomplete");

        SearchbarsForeach(countiesSearchbars, "counties");
        SearchbarsForeach(citiesSearchbars, "cities");

        document.querySelectorAll(".passwordVis").forEach((el) => {
          el.addEventListener("click", (e) => showPassword(e));
        });

        const steps = [
          document.querySelector(".form--step--1"),
          document.querySelector(".form--step--2"),
          document.querySelector(".form--step--3"),
        ];
        const stepHeight = getAbsoluteHeight(steps[0]);

        const formBox = document.querySelector(".signup--form");
        let values = [0, 0.5, 1, 1.5];
        if (document.body.offsetWidth > 800)
          values = values.map(function (x) {
            return x * 1.5;
          });
        formBox.addEventListener("scroll", () => {
          if (formBox.scrollTop > values[0] && formBox.scrollTop < stepHeight * values[1]) {
            trackButtons.forEach((b) => b.classList.remove("active"));
            Array.from(trackButtons)[0].classList.add("active");
          } else if (formBox.scrollTop > stepHeight * values[1] && formBox.scrollTop < stepHeight * values[2]) {
            trackButtons.forEach((b) => b.classList.remove("active"));
            Array.from(trackButtons)[1].classList.add("active");
          } else if (formBox.scrollTop > stepHeight * values[2] && formBox.scrollTop < stepHeight * values[3]) {
            trackButtons.forEach((b) => b.classList.remove("active"));
            Array.from(trackButtons)[2].classList.add("active");
          }
        });

        const trackButtons = document.querySelectorAll(".tracker--circle");
        trackButtons.forEach((button) => {
          button.addEventListener("click", (e) => {
            steps[e.target.dataset.number].scrollIntoView({ behavior: "smooth" });
          });
        });

        //adds listener for each input to update completion tracker
        inputs.forEach((el) => {
          el.forEach((input) => {
            if (input.dataset.listener !== "true") {
              inputTracking(inputs[input.dataset.number], input);
            }
          });
        });

        const height = getAbsoluteHeight(".measure-wd") - getAbsoluteHeight("header") - 60;
        document.querySelector(".wrapper--signup").style.height = `${height}px`;
      });
    </script>
  </body>
</html>
